body {
	width:650px;
}

input, textarea {
	font-size:18px;
}

.list {
	float:right;
}

.search {
	display:none;
}

.hide {
	display: none;
}

form {
	width:450px;
}

label {
	margin:7px 0 0 0;
	display: block;
}

input {
	width:300px;
	display: block;
}

textarea {
	width: 450px;
	height: 100px;
}

#submit {
	width:67px;
	height:50px;
	float:right;
}